body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.card {
    border-width: 2px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #F3F3F3;
    border-radius: 12px;
    background-color: #ffffffff;
    text-align: left;
    padding: 2rem;
    width: 25rem;
}

.card h2 {
    text-align: center;
}

.card span {
    font-weight: bold;
}

.habilidades section {
    display: flex;
}

.aprimoramentos {
    display: flex;
    flex-direction: column;
}